html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color: white;
    text-decoration: none;
    display: inline-block;
}

/* ----------------css reset---------- */
/* 
figure img{
    width: 100%;
    position: fixed;
z-index: -1;
filter: blur(1px);} */

body{
    font-family: "Century Gothic";
    background:rgb(46, 46, 46);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

}



/* 메뉴 헤더 */
header {

    background: rgba(0,0,0,0.4);
display: inline-block;
width:12%;
text-align: center;
z-index: 10;
height: 100vh;
}

header .menuall{
    padding-top: 123px;
    padding-bottom: 30px;
}


/* ABOUT */
header h1{
    font-family: "Century Gothic";
    color: white;
   font-size: 30px;
}
/* TIME */
header h1 span{
    font-family: "Brandon Grotesque Bold";
    font-size: 30px;
    font-weight: bold;
}

/* 네비 */
nav{
    flex-direction: column;
    display: flex;
    padding-top: 40%;
    
}

nav > a{
    color: white;
    text-decoration: none;
    margin-top: 46px;
}

/* 메뉴 이미지 */
.ott{
    padding: 207px 10% 0;
}
.ott a {
    width: 48%;
}
.ott img{
    width: 100%;
}

/* 메뉴 directed */
.navText{  padding-top: 20%;
}

.navText p{color: white;
font-size: 12px;}

/* 메뉴 하단 이미지 */
.navText img{
    width: 90%;
}


.section{
    width:80%;
    float: right;
    /* border: 1px solid white; */
  padding-left:150px;
  padding-top: 80px;
}

.title{
    font-family: "Helvetica75";
    color: white;
    font-size: 70px;
    padding-top: 5vh;
    padding-right: 47%;
    display: flex;
    animation: smile 2s linear;
    
}
@keyframes smile{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.title .thumImg{
    display: flex;
    padding-left: 77%;
    width: 10%;
}
.thumImg img{
    width:100%;
    margin: 10px;
    clip-path: circle(35% at 53% 31%);
    opacity: .2;
}
.thumImg img:nth-of-type(1){
    opacity:1;
}
.content{
    display: flex;
   
  
}

.content .left{width:460px;
    height: 507px;
   overflow: hidden;
 
    
}
.content .left.hihi{
    animation: hihi 2s linear;
}


@keyframes hihi{
    0%{ transform: translateX(-10%);
    opacity: 0;}
    100%{ transform: translateX(0%);}
}
@keyframes hihi2{
    0%{ transform: translateX(5%);
    opacity: 0;}
    100%{ transform: translateX(0%);}
}
.content .left img{width:100%;
}

.content .right{
    margin-left: 15vh;
  
}
.content .right.hihi2{
    animation: hihi2 2s linear;
}
.content .right .imgText{
    color: white;
}
.content .right .imgText p:nth-of-type(1){
    font-size: 20px;
    color: white;
    
}
.content .right .imgText p:nth-of-type(2){
    font-size: 50px;
    color: white;
    
}
.content .right .imgText p:nth-of-type(3){
    font-size: 1.2em;
    color: white;
    height: 192px;
    width: 600px;
    white-space: pre-wrap;
    margin-top: 40px;
    line-height: 1.7em;
}

.filmo{margin-top: 40px;}
.filmo p{
    color: white;
    font-size: 1.6em;
}
.filmo ul{
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.6em;
    margin-top: 20px;
    
}

.filmo ul li img{
    margin-right: 40px;
}