@media (max-width:768px) {

    /* Entire Layout */
    .cd-section {
        height: auto;
    }

    .cd-section>div {
        height: auto;
    }

    .content {
        position: static;
        width: 100%;
        height: 100%;
    }



    /* Header */
    header {
        transition: 0.5s;
        z-index: 100;
    }

    header.active {
        background: #fff;
        border-bottom: 1px solid #eee;
    }

    .menu {
        display: block;
    }

    .slogan {
        display: none;
    }

    .gnb {
        background-color: #fff;
        position: fixed;
        top: 0;
        right: -270px;
        width: 250px;
        height: 100vh;
        box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
        transition: 0.5s;
    }

    .gnb.active {
        right: 0;
    }

    .menu {
        line-height: 40px;
        margin-top: 60px;
    }

    .menu a {
        display: block;
        text-align: right;
        padding-right: 20px;
        color: #000;
        font-size: 20px;
    }

    /* trigger */
    .trigger {
        display: block;
        width: 24px;
        height: 14px;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .trigger span {
        height: 1px;
        background: black;
        width: 100%;
        position: absolute;
        transition: 0.3s;
    }

    .trigger span:nth-of-type(1) {
        top: 0
    }

    .trigger span:nth-of-type(2) {
        top: 50%;
        width: 80%;
    }

    .trigger span:nth-of-type(3) {
        top: 100%
    }

    .trigger.active span:nth-of-type(1) {
        top: 50%;
        transform: rotate(45deg);
    }

    .trigger.active span:nth-of-type(2) {
        top: 50%;
        width: 80%;
        opacity: 0;
    }

    .trigger.active span:nth-of-type(3) {
        top: 50%;
        transform: rotate(-45deg);
    }




    /* 포지션값을 주면 인라인요소에 인라인 블럭요소로 알아서 바뀌며 크기값을 가진다
line-height는 상속 */

    /* gototop */
    .gototop {
        position: fixed;
        left: 20px;
        bottom: 40px;
        border: 1px solid #fff;
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        line-height: 50px;
        transform: translateY(30px);
        opacity: 0;
        transition: 0.5s;
    }

    .gototop.active {
        opacity: 1;
    }

    /* Hiring Button */
    .btn-hiring {
        right: 20px;
        bottom: 20px;
    }


    /* Show Hide Section */
    /* 하나씩 지우면서 섹션별로 작업한다 */
    /* #home,
    #about,
    #project,
    #plan,
    #awards,
    #location,
    #contact {
        display: none;
    } */
   


    /*  ################### Section : Home ###################*/
    .home-inner {
        height: 100vh;
    }

    .welcome-text {
        transform: translate(-50%, -50%) scale(0.7);
        width: 100%;
    }

    .home-heading {
        left: 20px;
        font-size: 50px;
    }


    /*  ################### Section : about ###################*/
    .about-inner {
        height: auto;
        padding: 20px;
        background-image: none;

    }

    .about-items {
        width: 100%;
        position: static;
        margin-left: 0;
        transform: none;
        text-align: center;

    }

    .item img {
        height: 100px;
        float: none;
        margin-right: 0
    }


    /* #################### Section : project ################*/
    .project-inner {
        height: auto;
        border: none;
    }

    .tab>div {
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .view-project {
        width: 100%;
    }

    .project-info {
        padding: 20px;
    }


.project-info h3 {
    font-size: 17px;
}

.project-info p {
    position: relative;
}

.detail div {
    font-size: 13px;
}

.btn {
    width: 100%;
    bottom: 5px;
}



/*  ################### Section : plan ###################*/
.plan-inner {
    height: auto;
    padding: 20px;
}

.plan-feature {
    width: 100%;
    position: static;
    transform: none;
}

.plan-feature>div {
    height: auto;
}

.plan-heading {
    float: none;
    width: 100%;
    padding-right: 0;
}

.plan-info {
    margin-bottom: 40px;
}

.plan-photo {
    float: none;
    width: 100%;

}

.plan-photo img {
    width: 100%;
    height: auto;
}


/*  ################### Section : awards ###################*/
.awards-inner {
    height: auto;

}

.awards-inner>div {
    float: none;
    width: 100%;
    position: static;
}

.about-heading,
.victory-jump img {
    position: static;
    width: 100%;
    transform: none;
    padding: 40px 20px;
}

/*  ################### Section : location ###################*/
.location-inner {
    height: auto;

}

.location-inner::before {}

.feature {
    width: 100%;
    position: static;
    transform: none;

    position: relative;
    top: 0;
    left: 0;

}

.office {
    width: 100%;
    float: none;
    padding-right: 0;
    padding: 20px;

}

.service {
    width: 100%;
    float: none;
    padding: 20px;


}


/*  ################### Section : contact ###################*/


.contact-inner {
    height: auto;
}

.contact-feature {
    width: 100%;
    position: static;
    transform: none;
}

.contact-form {
    float: none;
    width: 100%;
}

.contact-info {
    float: none;
    width: 100%;
}


/* ###################  SubPage : Hiring ###################### */

.hiring-main {
    height: 300px;
   
}
.hiring-heading {
    width: 100%;
    top:65%

}
.hiring-heading h1{font-size: 32px;
margin-top: 20px;}
.hiring-info{padding: 20px;}

.hiring-info>div {
    float: none;
    width: 100%;
    height: auto
}
.center-child {
    position: static;
    transform: none;
    width: 100%;
}
.center-child h2 {
    font-size: 23px;}

.hiring-slogan{padding: 50px 0;}

.hiring-slogan p{
    width: 100%;
    font-size: 20px;
    padding: 0 20px;

}
.hiring-slogan p::before{top:-120px;
left:20px}

.hiring-contact ul {
    display: block;
    width: 100%;}
}


/* Featherlight Mobile CSS */
.featherlight .featherlight-close-icon{
    right: 30px;
    top:20px;
    font-size: 30px;
}

/* ###################  SubPage : Project ###################### */
.project-main01,
.project-main02,
.project-main03{
    height: 70vh;
    position: relative;
}
.project-main01::before,
.project-main02::before,
.project-main03:before{position: absolute;
content: '';
display: block; position: absolute; top:0;left:0;

width: 100%; height: 100%; background: rgba(0, 0, 0, 0.459);}
.photo.project-info {
    font-size: 18px;
    padding-top: 0;
    padding: 0;
}
